<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
		<aside th:fragment="admin-left" class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less 菜单-->
			<section class="sidebar">
				<div class="admin-panel">
					<div class="pull-left image">
						<img src="/adminlte/dist/img/user2-160x160.jpg"  style="height: 45px !important;"  class="img-circle"
							alt="User Image">
					</div>
					<div class="pull-left info">
						<p th:text="Admin">Alexander Pierce</p>
						<a href="#" th:text="${userStatus}"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				<!-- search form -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control"
							placeholder="Search..."> <span class="input-group-btn">
							<button type="submit" name="search" id="search-btn"
								class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>

				<ul class="sidebar-menu" data-widget="tree">
					<li class="header">主导航</li>
					<li class="treeview" th:each = "menu,mStat:${menus}">
						<a href="#">
							<i class="fa fa-dashboard"></i>
							<span th:text="${menu.name}">菜单</span> <span
								class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li
								th:each="subm,submStat:${menu.subMenu}"><a
									target="mainFrame" href="404.html"
									th:href="@{${subm.url}}"> <i
									class="fa fa-circle-o"></i> <label
									th:text="${subm.name}">子菜单</label>
							</a></li>
						</ul>

					</li>

				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>


		<!-- Left side column. contains the logo and sidebar -->
		<aside  th:fragment="admin-menu" class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<!-- Sidebar user panel (optional) -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p>Jussi Lee</p>
						<!-- Status -->
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>

				<!-- search form (Optional) -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
					</div>
				</form>
				<!-- /.search form -->

				<!-- Sidebar Menu -->
				<ul class="sidebar-menu">
					<li class="header">HEADER</li>
					<!-- Optionally, you can add icons to the links -->
					<li class="active"><a href="/home"><i class="fa fa-home"></i> <span>主页</span></a></li>
					<li><a href="/self"><i class="fa fa-heartbeat"></i> <span>个人中心</span></a></li>
					<li class="treeview">
						<a href="#"><i class="fa  fa-file-text-o"></i> <span>文章管理</span>
							<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
						</a>
						<ul class="treeview-menu">
							<li><a href="/articles"><i class="fa fa-circle-o"></i> 文章列表</a></li>
							<li><a href="/types"><i class="fa fa-circle-o"></i> 文章标签</a></li>
							<li><a href="/publish"><i class="fa fa-circle-o"></i> 文章发布</a></li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#"><i class="fa fa-gears"></i> <span>技能中心</span>
							<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
						</a>
						<ul class="treeview-menu">
							<li><a href="/techcenter"><i class="fa fa-circle-o"></i> 技能面板</a></li>
							<li><a href="/techs"><i class="fa fa-circle-o"></i> 技能管理</a></li>
						</ul>
					</li>
				</ul>
				<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
			<!-- /.sidebar -->
		</aside>
</body>
</html>