<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/header :: header">

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- 头部 -->
    <header th:include="include/header :: admin-header" class="main-header"></header>
    <!-- 左边 -->
    <aside th:include="include/left :: admin-left" class="main-sidebar"></aside>

    <div class="content-wrapper">
        <div th:include="include/main :: admin-main"></div>
    </div>

    <footer th:replace="include/foot :: admin-footer"></footer>

    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
</body>
</html>
